@model Grandine.Models.Bisarchista

@{
    ViewBag.Title = "Details";
}
<br />

<h2>Details</h2>
<br />

<div>
    <h4>Bisarchista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Torna a lista", "Index",null, new { @class = "btn btn-primary" })
</p>
