@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    Definire...<br />
    Via Tal Dei Tali<br />
    <abbr >Tel.</abbr>
    347.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:test@grandine.com">test@grandine.com</a><br />
    
</address>