
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align:center">
        <h2>Importazione dati da csv</h2>

        <h4>Promemoria</h4>
        @*<ul style="text-align:left">
                <li class="list-group-item ">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>*@
        <ol style="text-align:left">
            <li>Preparare un file csv che contenga : <b>Telaio - Targa - Modello - Gravità</b></li>
            Dati Obbligatori :
            <ul>
                <li>Almeno un campo tra telaio e targa</li>

            </ul>
            <li>Uploadare il file .csv</b></li>
            <li>Confermare</b></li>
        </ol>
    </div>
</div>
<br />
@Html.ActionLink("Scarica template", "DownloadTemplate", null, new { @class = "btn btn-info" })
