body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.deleteImg {
    display: inline-block;
    background: url(../img/delete.png) no-repeat scroll left;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}
hr.bordorosso {
    border-top: 1px solid red;
}

hr.bordonero {
    border-top: 1px solid black;
}

hr.nero {
    border-top: 3px solid black;
}
.sectionlabel{
    color:darkgreen;
}
