
@{
    ViewBag.Title = "UploadData";
}

<h2>Dati caricati correttamente </h2>

@Html.ActionLink("Torna a lista", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary btn-xs" })

